# Node
frontend/node_modules/
frontend/.next/

# Maven
backend/target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Kubernetes secrets
k8s/secret.yaml
k8s/staging/secret.yaml
alertmanager-config.yaml

# Environment files
.env
*.env

# GCP service account keys
gha-key.json
*.json.key

# Logs
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
